body {
  color: white;
  background-color: #353557;
  padding: 20px;
  overflow: hidden;
}

input, select {
  background-color: #434367;
  border-radius: 6px;
  border: unset;
}

nav {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

header {
  margin-bottom: 20px;
  border-bottom: 2px solid #434367;
}

.cloud-link {
  text-decoration: underline;
}

.search__field {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.search__field input, .search__field select {
  height: 38px;
  max-width: 300px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.search__field input:focus, .search__field select:focus {
  outline: unset;
}
.search__field select {
  max-width: unset;
  width: auto;
}
.search__field button {
  background-color: #434367;
  padding: 0 8px;
  border-radius: 6px;
}
@media screen and (max-width: 550px) {
  .search__field .search__field-search {
    width: 100%;
  }
}
.search__result {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  max-height: calc(100vh - 170px);
  padding-bottom: 50px;
  overflow-y: scroll;
  gap: 28px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.search__result::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 1440px) {
  .search__result {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1150px) {
  .search__result {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 880px) {
  .search__result {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 550px) {
  .search__result {
    grid-template-columns: 1fr;
  }
}
.search__item {
  display: flex;
  background-color: #434367;
  border-radius: 6px;
  overflow: hidden;
  flex-direction: column;
  gap: 10px;
}
.search__item:hover .search__item-thumb {
  transform: scale(1.05);
}
.search__item:hover .search__item-overview {
  transform: translateY(0);
  opacity: 1;
}
.search__item-overview {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6823529412);
  transition: 0.4s;
  transform: translateY(100%);
  padding: 12px 8px;
  padding-bottom: 20px;
  line-height: 1.4;
  max-height: 40%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.search__item-overview::-webkit-scrollbar {
  display: none;
}
.search__item-name {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.search__item-name:hover {
  text-decoration: underline;
}
.search__item-thumb {
  width: 100%;
  border-radius: 6px;
  position: absolute;
  height: auto;
  transition: 0.4s;
  top: 0;
  left: 0;
}
.search__item-thumbcontainer {
  min-height: 380px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.search__item-thumbcontainer img {
  width: 100%;
}
.search__item-thumbcontainer img:first-child {
  max-height: 20vh !important;
}
@media screen and (max-width: 550px) {
  .search__item-thumbcontainer {
    min-height: 280px;
  }
}
.search__item-description {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.search__item-detail {
  flex-direction: column;
  display: flex;
  gap: 10px;
  line-height: 2;
  margin-top: auto;
}
.search__item-detail > .row {
  justify-content: space-between;
}
.search__item-release {
  font-style: italic;
}
.search__item-rating {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #222744;
  border-radius: 6px;
  padding: 4px 8px;
  font-weight: bold;
  line-height: 1;
}
.search__item-rating span {
  margin-left: 4px;
  margin-right: 4px;
}
.search__item-rating img {
  width: 20px;
  height: 20px;
}
.search__paginator {
  display: flex;
  gap: 8px;
  margin-left: auto;
}
.search__paginator button {
  height: 38px;
  width: 38px;
  margin: 0;
}

.row {
  display: flex;
}

.gap-10 {
  gap: 10px;
}